{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home Page" %}{% endblock %}
{% block parms %}
    Nombre de mots en base: {{ wc }}<br/>
    Nombre de verbes en base: {{  verbs_wc }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

{% if words %}
<form action="{% url 'check_quizz' %}" method="get">
    <table class="table table-striped">
        <thead>
        <tr><td></td><th>Kana</th><th>Kanji</th><th>Votre traduction</th></tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <th scope="row">{{ forloop.counter }}
                    <input type="hidden" name="id" value="{{ word.id }}">
                    <input type="hidden" name="romaji" value="{{ word.word_romaji }}">
                    <input type="hidden" name="kana" value="{{ word.word_kana }}">
                    <input type="hidden" name="kanji" value="{{ word.word_kanji }}">
                </th>
                <td>{{ word.word_kana }}</td>
                <!-- <td>{{ word.word_romaji }}</td> -->
                <td>{{ word.word_kanji }}</td>
                <td><input type="text" name="{{ word.word_romaji }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p align="center"><input type="submit" class="btn btn-primary btn-lg" role="button" value="Voir les résultats"></p>
</form>
{% endif %}

{% if verbs %}
    <form action="{% url 'check_verbs' %}" method="get">
        <table class="table table-striped">
            <thead>
            <tr><td></td><th>Kanji</th><th>Romaji</th><th>Traduction</th><th>Forme demandée</th><th>Votre réponse</th></tr>
            </thead>
            <tbody>
            {% for verb in verbs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}
                        <input type="hidden" name="id" value="{{ verb.id }}">
                        <input type="hidden" name="kanji" value="{{ verb.kanji }}">
                        <input type="hidden" name="traduction" value="{{ verb.traduction }}">
                        <input type="hidden" name="romaji" value="{{ verb.romaji }}">
                        <input type="hidden" name="forme" value="{{ verb.forme }}">
                        <input type="hidden" name="field" value="{{ verb.field }}">
                    </th>
                    <td>{{ verb.kanji }}</td>
                    <td>{{ verb.romaji }}</td>
                    <td>{{ verb.traduction }}</td>
                    <td>{{ verb.forme }}</td>
                    <td><input type="text" name="{{ verb.romaji }}{{"+"}}{{ verb.field }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p align="center"><input type="submit" class="btn btn-primary btn-lg" role="button" value="Voir les résultats"></p>
    </form>
{% endif %}

    </div>
</div> <!-- /container -->
{% endblock %}
